body {
    background-color: green;
    width: 100%;
    background-image: url('/images/bookshelf.jpg');
}

li {
    font-size: 20px;
    font-weight: bolder;
}

label {
    color: #ff9d00;
    font-weight: bolder;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#favButton{
    background-image: url('/images/bookmark-star.svg');
}