<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Table</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/style.css}"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<br/>

<th:block th:fragment="table">

    <div class="container row justify-content-center">
        <table id="booksTable" class="table table-responsive table-striped table-light table-bordered table-hover"
               style="width: 80%">
            <thead class="table-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year</th>
                <th scope="col">ISBN</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</th:block>

</body>

</html>