<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar</title>
</head>
<body>

<th:block th:fragment="bookshelf-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Bookshelf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <div th:if="${#authorization.expression('isAnonymous()')}">
                    <a class="nav-item nav-link" href="/login">Sign In</a>
                </div>
                <div th:if="${#authorization.expression('isAnonymous()')}">
                    <a class="nav-item nav-link" href="/registration">Sign Up</a>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
                <div th:if="${#authorization.expression('!hasAuthority(''VIEW_ADMIN'')')}">
                    <p class="nav-item text-warning">* To create books login as admin (password:password)</p>
                </div>
            </div>
        </div>
    </nav>
</th:block>

</body>
</html>