<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookshelf</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<th:block th:include="bookshelf-navbar::bookshelf-navbar"/>

<br/>

<div th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}">
    <h1 class="text-center" style="color: white">Admin Page</h1>
</div>
<div th:unless="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}">
    <h1 class="text-center" style="color: white">Bookshelf</h1>
</div>
<br/>
<th:block th:include="search-book-form::form"/>
<br/>
<th:block th:include="bookshelf-table::table"/>
<br/>
<div th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}">
    <h2 class="text-center" style="color: white">Add New Book</h2>
    <th:block th:include="add-book-form::form"/>
</div>

<script>

    const pageSize = 3;

    function createPagination(currentPage, howManyElements) {
        let firstPage = '<a class="btn btn-primary mb-4" onclick="getBooks(0)">First</a>'
        let prevPage = currentPage <= 0 ? '' : '<a class="btn btn-primary mb-4" onclick="getBooks(' + (currentPage - 1) + ')">' + currentPage + '</a>'
        const pages = Math.floor(howManyElements == 0 ? 0 : (howManyElements % pageSize === 0 ? howManyElements / pageSize - 1 : howManyElements / pageSize))
        console.log(pages)
        let nextPage = currentPage >= pages ? '' : '<a class="btn btn-primary mb-4" onclick="getBooks(' + (currentPage + 1) + ')">' + (currentPage + 2) + '</a>'
        let lastPage = '<a class="btn btn-primary mb-4" onclick="getBooks(' + pages + ')"">Last</a>'

        let currPageNum = '<a class="btn btn-secondary mb-4" onclick="getBooks(' + currentPage + ')">' + (currentPage + 1) + '</a>'

        $('#tableBody').append(firstPage + prevPage + currPageNum + nextPage + lastPage);
    }

    function createSearchPagination(currentPage, howManyElements) {
        let firstPage = '<a class="btn btn-primary mb-4" onclick="searchBooks(0)">First</a>'
        let prevPage = currentPage <= 0 ? '' : '<a class="btn btn-primary mb-4" onclick="searchBooks(' + (currentPage - 1) + ')">' + currentPage + '</a>'
        const pages = Math.floor(howManyElements == 0 ? 0 : (howManyElements % pageSize === 0 ? howManyElements / pageSize - 1 : howManyElements / pageSize))
        console.log(pages)
        let nextPage = currentPage >= pages ? '' : '<a class="btn btn-primary mb-4" onclick="searchBooks(' + (currentPage + 1) + ')">' + (currentPage + 2) + '</a>'
        let lastPage = '<a class="btn btn-primary mb-4" onclick="searchBooks(' + pages + ')"">Last</a>'

        let currPageNum = '<a class="btn btn-secondary mb-4" onclick="searchBooks(' + currentPage + ')">' + (currentPage + 1) + '</a>'

        $('#tableBody').append(firstPage + prevPage + currPageNum + nextPage + lastPage);
    }

    function getBooks(page) {
        if (page === undefined) page = 0
        $('#tableBody').empty();
        $.ajax({
            url: '/get-books?page=' + page + '&size=' + pageSize,
            success: function (data, textStatus, request) {
                data.forEach(function (book) {
                    $('#tableBody').append('<tr onclick="goToBookPage(\'' + book.isbn + '\')"><td>' + book.title + '</td><td>' + book.author + '</td><td>' + book.year + '</td><td>' + book.isbn + '</td></tr>');
                })
                createPagination(page, request.getResponseHeader('X-Total-Count'))
            }
        });
    }

    function searchBooks(page) {
        console.log(page)
        if (page === undefined) page = 0
        const searchField = $('#searchField option:selected').val();
        $('#tableBody').empty();
        const value = $('#searchForm').val();
        const baseUrl = '/get-books?size=' + pageSize + '&' + searchField + '=' + value
        $.ajax({
            url: baseUrl + '&page=' + page,
            success: function (data, textStatus, request) {
                console.log(request.getResponseHeader('X-Total-Count'))
                data.forEach(function (book) {
                    $('#tableBody').append('<tr onclick="goToBookPage(\'' + book.isbn + '\')"><td>' + book.title + '</td><td>' + book.author + '</td><td>' + book.year + '</td><td>' + book.isbn + '</td></tr>');
                })
                createSearchPagination(page, request.getResponseHeader('X-Total-Count'))
            }
        });
    }

    function addBook(e) {
        e.preventDefault();

        $('#loginResponse').text('');

        $.ajax({
            type: 'POST',
            url: '/add-book',
            dataType: 'json',
            data: JSON.stringify({
                bookTitle: $(this).find('[name=bookTitle]').val(),
                bookAuthor: $(this).find('[name=bookAuthor]').val(),
                bookYear: $(this).find('[name=bookYear]').val(),
                bookISBN: $(this).find('[name=bookISBN]').val(),
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {
                if ($('#searchForm').val() !== '') searchBooks()
                else getBooks();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.statusText + ": " + XMLHttpRequest.responseJSON.message);
            }
        });
    }

    function goToBookPage(isbn) {
        $.ajax({
            url: '/book/' + isbn,
            success: function (response) {
                if (response === "Error") {
                    <!-- Handle Error Here -->
                    console.log(response)
                } else {
                    window.location.href = this.url;
                }
            }
        })
        ;
    }

    getBooks(0);
    $('#bookForm').submit(addBook);
    $('#searchButton').click((e) => {
        searchBooks(0)
    });

</script>

</body>
</html>