<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book Form</title>
</head>
<body>

<th:block th:fragment="form">
    <div class="row-cols-3">
        <div class="input-group">
            <div class="form-outline col-4 offset-3">
                <input type="search" name="searchBookInput" id="searchForm" class="form-control"
                       placeholder="Search book by title"/>
            </div>
            <button type="submit" id="searchButton" class="btn btn-primary col-1">
                Search
            </button>
            <div col-1>
                <select id="searchField" class="form-select" aria-label="Select search field"
                        onchange="$('#searchForm').attr('placeholder','Search book by ' + $('#searchField option:selected').val());">
                    <option value="title" selected>Title</option>
                    <option value="author">Author</option>
                    <option value="isbn">ISBN</option>
                </select>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>